
.hero__wrapper{
    max-width: 1312px;
    background: #FEB786;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.card {
    width: 200px;
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;

  
  }
  
  .card__imgg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #FEB786;
   
  }
  .hero__card{
    max-width: 291px;
    font-family: sans-serif;
    color: #5C1B05;
  }
  .s{
    max-width: 150px;
    height: 43px;
    font-size: 18px;
    color: #ffffff;
    background-color: #FEB786;
    margin-top: 5px;
  }
  .ss{
    margin-top: 15px;
  }