.footer__lisr li{
    list-style: none;
    font-size: 30px;
    font-family: sans-serif;
    color: #767676;
}
.footer{
    height: 470px;
   background-color: #e8e8e8;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color:#474747;
   margin-top: 20px;
}
.footer__wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}