*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 80px;
}
.container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.nav__wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.selector{
    max-width: 94px;
    height: 42px;
}
.nav__inputt{
    width: 610px;
    height: 41px;
}
.nav__button{
    width: 169px;
    height: 44px;
    background-color: #3665F3;
    color: white;
    border: none;
}